<div id="cardComponent" class="card" *ngIf="!mostrarModal">
  <div class="card-header">
    Segunda
  </div>
  <div class="card-body">
    <div class="list" id="taskList">
      <ul class="list-group list-group-flush">
        <div class="listGrupo">
          <li class="list-group-item"  *ngFor="let t of tasks">
            <input type="checkbox"  class="form-check-input" style="left: 1rem;" aria-hidden="true" [(ngModel)]="task.check" /> 
            {{t.description}}
            <div class="buttonTask">
              <button class="btn btn-danger btn-sm" (click)="deleteTask(t.idTask)">Delete</button>
              <button class="btn btn-info btn-sm" (click)="editTask(t.idTask)">Edit</button>
            </div>
          </li>
        </div>
        
				
      </ul>
    </div>
    <div class="button">
      <button class="btn btn-info btn-sm" (click)="adicionarTask()">Adicionar</button>
    </div>
  </div> 
</div>

<div class="card mx-auto" id="cardComponent" *ngIf="mostrarModal">
	<div class="card-dialog">
		<div class="card-header">
			<h5>Adicionar tarefa</h5>
			</div>
			<div class="card-body">
				<label class="col-form-label">Descrição</label>
				<input type="text" class="form-control" [placeholder]="task.description" [(ngModel)]="task.description" /> 
				<button type="submit" class="btn btn-primary" style="margin-top: 10px; margin-right: 10px;" (click)="insertNewTask()">Salvar</button>
				<button type="submit" class="btn btn-secondary" style="margin-top: 10px;" (click)="cancelar()">Cancelar</button>
		</div>
	</div>
</div>

