<div id="cardComponent" class="card mx-auto">
  <div class="card-header">
    Segunda
  </div>
  <div class="card-body">
    <div class="list" id="taskList">
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">
          <input type="checkbox"  class="form-check-input" style="left: 1rem;" aria-hidden="true" /> 
          Dormir 8h
        </li>
        <li class="list-group-item ">
          <input type="checkbox"  class="form-check-input" style="left: 1rem;" aria-hidden="true" /> 
          Dormir 8h
        </li>
        <li class="list-group-item ">
          <input type="checkbox"  class="form-check-input" style="left: 1rem;" aria-hidden="true" /> 
          Dormir 8h
        </li>
      </ul>
    </div>
   
    <div class="button">
      <button class="btn btn-info btn-sm">Adicionar</button>
    </div>
  </div>
  
</div>