#cardComponent {
  width: 20rem;
  height: auto;
  background-color: rgb(72, 45, 76);
}

.card-header{
  color: #ffff;
  font-weight: bold;
}
ul{
  background-color: rgb(228, 163, 238);
}
li {
  height: 70px;
}

#taskList {
  padding-bottom: .2em;
  font-weight: 600;
}

.first{
  display: flex;
  justify-content: start;
  align-items: center;
}

.buttonTask {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

input {
  margin-right: .8em;
}