#cardComponent {
  width: 20rem;
  height: auto;
}

#taskList {
  padding-bottom: 2em;
  font-weight: 600;
  line-height: 1em;
}

.buttonTask {
  top: 10px;
  display: flex;
  justify-content: end;
  right: 10%;
}

input {
  margin-right: 1.5em;
}