*{
  margin: 0;
}

#cardComponent {
  width: 20rem;
  height: auto;
  display: flex;
  flex-direction: column;
}

#taskList {
  padding-bottom: 15px;
  line-height: 1em;
}

input {
  margin-right: 1.5rem;
}