@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  height:100vh;
  background-image: url("https://images-cdn.welcomesoftware.com/Zz03ZTY0Mzk3MDhlNDgxMWViYmRmNWY3MjZjM2QxZTdiZg==");
  font-family: 'Roboto', sans-serif;
}

#cardTask {
  display: flex;
  align-items: center;
  justify-content: center;
}